extends layout

block content 
    div
        div
            h1=title
    hr
    if errors
        p(style="color:red") #[strong Your form had some errors in!] Please address the following and resubmit:
        ul
        for error in errors
            p!= error.msg
        hr
    div.form-area
        form(method="POST")
            div 
                label(for="name") Item Name: 
                input#name(placeholder="Chelbelsa, Classic Green Tea, etc." name="name" required value=(undefined===item ? '' : item.name))
            div 
                label(for="description") Description:
                textarea#description(placeholder="A really beautiful coffee from the region of..." name="description" min="10" required)= undefined===item ? '' : item.description
            div 
                label(for="category") Category: 
                select(name="category" required)
                    option(value="") --Please select a category--
                    for category in categories
                        if item 
                            if category._id.toString()===item.category._id.toString()
                                option(value=category._id selected) #{category.name}
                            else 
                                option(value=category._id) #{category.name}
                        else
                            option(value=category._id) #{category.name}
            div
                label(for="price") Price (GBP):
                input#price(type="number" name="price" min="1" step="any" required value=(undefined===item ? '' : item.price.toString()))
            div 
                label(for="stock_number") Available Stock:
                input#stock_number(type="number" name="stock_number" required value=(undefined===item ? '' : item.stock_number))
            div 
                label(for="country") Country of Origin: 
                select(name="country" required)
                    option(value="") --Please select a country--
                    for country in countries
                        if item 
                            if country._id.toString()===item.country_of_origin._id.toString()
                                option(value=country._id selected) #{country.name}
                            else 
                                option(value=country._id) #{country.name}
                        else
                            option(value=country._id) #{country.name}
            div 
                div 
                    p #[b Strength]
                    span optional
                div.radio
                    div
                        input(type="radio" id="one" name="strength" value="1")
                        label(for="one") 1
                    div
                        input(type="radio" id="two" name="strength" value="2")
                        label(for="two") 2
                    div
                        input(type="radio" id="three" name="strength" value="3")
                        label(for="three") 3
                    div
                        input(type="radio" id="four" name="strength" value="4")
                        label(for="four") 4
                    div
                        input(type="radio" id="five" name="strength" value="5")
                        label(for="five") 5
                    div
                        input(type="radio" id="six" name="strength" value="6")
                        label(for="six") 6
                    div
                        input(type="radio" id="seven" name="strength" value="7")
                        label(for="seven") 7
            button(type='submit' onclick="submitLoader()") Submit
        div.form-info-wrapper
            div
                p A good description is both informative and inviting!
            div 
                p Can't see a category you want listed? Why not 
                    a(href="/catalog/category/create") #[em create one]
                    |? You can then come back here and select it!
            div 
                p Can't see a country you want listed? Why not 
                    a(href="/catalog/country/create") #[em create one]
                    |? You can then come back here and select it!